// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/hello-ionic/hello-ionic";

@import "../pages/item-details/item-details";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: Helvetica, arial, sans-serif;
  padding: 40px 0;
  //font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
}
